openapi: 3.0.0
info:
  version: 1.0.0
  title: Slack Incoming Webhook
externalDocs:
  url: https://api.slack.com/incoming-webhooks
servers:
  - url: https://hooks.slack.com
paths:
  /services/jsonAndNonJsonPayload:
    post:
      summary: Post a message to Slack
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                payload:     # <--- form field that contains the JSON message
                  $ref: '#/components/schemas/Message'
                nonJsonPayload:
                  type: string
            encoding:
              payload:
                contentType: application/json
      responses:
        '200':
          description: OK
          /services/test:
            post:
              summary: Post a message to Slack
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      type: object
                      properties:
                        payload: # <--- form field that contains the JSON message
                          $ref: '#/components/schemas/Message'
                        nonJsonPayload:
                          type: string
                    encoding:
                      payload:
                        contentType: application/json
              responses:
                '200':
                  description: OK
  /services/nonJsonPayloadOnly:
    post:
      summary: Post a message to Slack
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nonJsonPayload:
                  type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    Message:
      title: A Slack message
      type: object
      properties:
        text:
          type: string
          description: Message text
      required:
        - text