.idea/*
dependency-reduced-pom.xml
*.iml
target/*
.DS_Store
.gradle/*
**/build/*
gen/*
*.class
**/.zookeeper/*
core/out
**/core/target/*
jmx/jmx_prometheus_javaagent-0.15.0.jar
perfiz/*_data
**/.settings
**/.project
**/.classpath
**/.specmatic
