<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Examples</title>
    <link rel="stylesheet" href="_specmatic/examples/setup.css">
    <link rel="stylesheet" href="_specmatic/examples/layout.css">
</head>

<body>

<header>
    <div id="main-info">
        <h1 th:text="${contractFile}"></h1>
        <h2 th:text="${contractFilePath}"></h2>
    </div>
    <div class="btn-grp" th:attr="data-test-mode=${isTestMode}">
        <button data-selected="0" id="bulk-generate" data-panel="table"></button>
        <button data-selected="0" data-panel="table" id="bulk-validate"></button>
        <button data-selected="0" data-panel="table" id="bulk-test"></button>
    </div>
</header>

<main class="group" data-panel="table">
    <table th:attr="data-generated=${hasExamples},data-hostPort=${hostPort}">
        <thead>
        <tr>
            <th>
                <label for="select-all">
                    <input type="checkbox" name="select-all" id="select-all">
                </label>
            </th>
            <th>S. No</th>
            <th colspan="3">Path</th>
            <th>Method</th>
            <th>Response</th>
            <th>Examples</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody th:attr="data-test-mode=${isTestMode}">
        <tr
                th:each="row, iter : ${tableRows}"
                th:attr="data-raw-path=${row.rawPath}, data-key=${row.uniqueKey}, data-schema-based=${row.isSchemaBased},
                        data-example=${row.example}, data-main=${row.isMainRow}, data-disc=${row.isDiscriminatorBased},
                        data-generate=${row.isGenerated ? 'success' : 'not-generated'}, data-test='not-tested',
                        data-valid=${row.isGenerated ? (row.isValid ? 'success' : row.isPartialFailure ? 'partial' : 'failed') : 'not-validated'}">
            <td>
                <input type="checkbox" name="path-row" class="path-row">
            </td>
            <td></td>
            <td th:class="${row.showPath ? '' : 'hidden'}" th:attr="rowspan=${row.pathSpan}, colspan=${row.pathColSpan}">
                <span>[[${row.path}]]</span>
            </td>
            <td th:class="${row.showMethod ? '' : 'hidden'}" th:attr="rowspan=${row.methodSpan}, colspan=${row.methodColSpan}">
                <p>[[${row.method}]]</p>
            </td>
            <td class="response-cell" th:classappend="${row.showStatus ? '' : 'hidden'}" th:attr="rowspan=${row.statusSpan}">
                <p>[[${row.responseStatus}]]</p>
                <span>[[${row.contentType}]]</span>
                <br th:if="${row.contentType != null}"/>
                <button class="multigen hidden" aria-label="Generate More"></button>
            </td>
            <td>
                <button th:unless="${row.isGenerated}" class="generate" aria-label="Generate"></button>
                <span th:if="${row.isGenerated}" th:text="${row.exampleName}"></span>
            </td>
            <td>
                <button class="validate hidden" aria-label="Validate"></button>
                <button class="test hidden" aria-label="Test"></button>
                <span th:class="hidden">View Details</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="details">
        <div id="path-details">
            <button id="back" tabindex="-1">
                <span>&larr;</span>
                <span>Go Back</span>
            </button>
            <ul id="path-summary"></ul>
        </div>
        <ol id="examples"></ol>
    </div>
</main>

<div id="alert-container"></div>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chevron">
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
</svg>

<script th:inline="javascript">
    const exampleDetails = /*[[${exampleDetails}]]*/ {};
    let hostPort = /*[[${hostPort}]]*/ '';
    hostPort = hostPort.replace(/\/$/, '');
    const testDetails = {};
</script>

<script type="module">
    const bundlePath = `${hostPort}/_specmatic/examples/codemirror-bundle.esm.js`;
    const {
    Decoration,
    EditorState,
    EditorView,
    StateEffect,
    StateField,
    autocompletion,
    basicSetup,
    hoverTooltip,
    javascript,
    json,
    jsonParseLinter,
    language,
    lineNumbers,
    lintGutter,
    linter,
    oneDark
    } = await import(bundlePath);
        window.EditorState = EditorState
        window.EditorView = EditorView
        window.basicSetup = basicSetup
        window.javascript = javascript()
        window.autocompletion = autocompletion()
        window.oneDark = oneDark
        window.language = language
        window.lineNumbers = lineNumbers()
        window.lintGutter = lintGutter()
        window.json = json()
        window.linter = linter(jsonParseLinter())
        window.Decoration = Decoration
        window.StateField = StateField
        window.StateEffect = StateEffect
        window.hoverTooltip = hoverTooltip

</script>
<script src="_specmatic/examples/json-source-map.js"></script>
</body>
<script src="_specmatic/examples/example-server.js"></script>
</html>