@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    /* COLORS */
    --smoky-black: 23, 18, 7;
    --alice-blue: 233, 241, 247;
    /* PRIMARY COLORS */
    --white: 2255, 255, 255;
    --black: 0, 0, 0;
    --slate: 241, 245, 249;
    --blue: 59, 130, 246;
    --blue-dark: 29, 78, 216;
    /* PILL COLORS */
    --pill-green: 134, 239, 172;
    --pill-red: 252, 165, 165;
    --pill-yellow: 253, 224, 71;
    /* RESULT COLORS */
    --approved: 212, 237, 218;
    --rejected: 249, 226, 228;
    --warning: 255, 243, 214;

    /* Font Families */
    --sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --roboto: "Roboto", var(--mono), var(--sans);

    /* Font Sizes */
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 1.875rem;
    --font-3xl: 2.25rem;
    --font-4xl: 3rem;

    /* Line Height */
    --line-height-sm: 1.25rem;
    --line-height-base: 1.5rem;
    --line-height-md: 1.75rem;
    --line-height-lg: 1.75rem;
    --line-height-xl: 1.75rem;
    --line-height-2xl: 2.25rem;
    --line-height-3xl: 2.5rem;

    /* Shadows */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    /* Shadow Inner */
    --shadow-inner-sm: inset var(--shadow-sm);
    --shadow-inner-md: inset var(--shadow-md);
    --shadow-inner-lg: inset var(--shadow-lg);
}

html {
    scroll-behavior: smooth;
}

body {
    --_padding: 1rem;

    font-family: var(--roboto);
    background-color: rgb(var(--alice-blue));
    height: 100vh;
    width: 100vw;
    padding: var(--_padding);

    @media print {
        background-color: rgb(var(--white));
    }
}

header {
    --_border-radius: 0.5rem;
    --_gap: 0.25rem;

    display: grid;
    gap: var(--_gap);
    background-color: rgb(var(--white));
    box-shadow: var(--shadow-md);
    border-radius: var(--_border-radius) var(--_border-radius) 0 0;

    @media print {
        box-shadow: none;
        border: 1px solid rgba(var(--smoky-black), 0.1);
    }
}

#branding {
    --_image-width: 16rem;
    --_padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--_padding);

    & > img {
        width: var(--_image-width);
    }

    & > h1 {
        font-size: var(--font-2xl);
        line-height: var(--line-height-2xl);
        font-weight: 500;
    }

    button {
        --_icon-padding: 0.5rem;
        --_icon-width: 3rem;
        --_icon-radius: 0.25rem;

        width: var(--_image-width);

        & img {
            border: 1px solid rgba(var(--smoky-black), 0.5);
            border-radius: var(--_icon-radius);
            padding: var(--_icon-padding);
            margin-left: auto;
            width: var(--_icon-width);
        }

        @media print {
            display: none;
        }
    }
}

#summary {
    --_summary-padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--_summary-padding);
    font-family: var(--mono);

    @media print {
        border: 1px solid rgba(var(--smoky-black), 0.1);
    }
}

#coverage {
    display: flex;
    flex-direction: column;
    text-align: center;

    & > span:first-child {
        font-size: var(--font-md);
        line-height: var(--line-height-md);
        color: rgba(var(--black), 0.5);

        @media print {
            white-space: nowrap;
        }
    }

    & > span:last-child {
        margin-right: 0.5rem;
        font-size: var(--font-2xl);
        line-height: var(--line-height-2xl);
        font-weight: 600;
    }
}

#test-counts {
    --_item-width: 10rem;
    --_item-height: 3.25rem;
    --_item-gap: 0.5rem;
    --_item-padding: 1rem;
    --_list-gap: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--_list-gap);

    & > li {
        --_item-icon-width: 2.25rem;
        --_transition-duration: 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--_item-gap);
        height: var(--_item-height);
        min-width: var(--_item-width);
        box-shadow: var(--shadow-md);
        padding: var(--_item-padding);
        border: 1px solid rgba(var(--smoky-black), 0.1);
        cursor: pointer;
        transition: all var(--_transition-duration) ease-in-out;

        @media print {
            --_item-padding: .25rem;

            box-shadow: none;
            width: fit-content;
            height: auto;
            border: none;
        }

        & > img {
            width: var(--_item-icon-width);
        }

        &.active {
            pointer-events: none;
            background-color: rgb(var(--white));
            box-shadow: var(--shadow-inner-md);

            @media print {
                box-shadow: none;
                background-color: initial;
            }
        }

        &:hover,
        &:focus {
            border-color: rgba(var(--smoky-black), 0.5);
        }

        &:active {
            transform: scale(0.9);
            background-color: rgb(var(--white));
            box-shadow: var(--shadow-inner-md);
        }
    }

    @media print {
        --_list-gap: 0rem;
        justify-content: center;
    }
}

#badge {
    --_mark-size: 3.5rem;

    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    & > img#mark {
        position: absolute;
        inset: 0;
        z-index: 10;
        margin: auto;
        width: var(--_mark-size);
    }
}

#additional-info {
    --_flex-padding: 0.5rem 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--_flex-padding);

    & > li {
        --_line-spacing: 0.01rem;

        font-weight: 300;
        font-size: var(--font-sm);
        line-height: var(--line-height-sm);
        letter-spacing: var(--_line-spacing);

        & span::before {
            content: ": ";
        }

        & span {
            font-weight: 500;
        }
    }
}

/* Table Style */

main {
    display: flex;
    align-items: start;
    overflow: hidden;
    margin: 1rem 0rem;

    @media print {
        overflow: visible;
    }
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;

    @media print {
        table-layout: auto;
        page-break-inside: auto;
    }
}

tr, td {
    @media print {
        border: solid rgba(var(--smoky-black), 0.1) !important;
        page-break-inside:avoid;
        page-break-after:auto
    }
}

thead {
    background: rgb(var(--slate));
    font-weight: 500;
    font-family: var(--roboto);

    @media print {
        display: table-header-group
    }
}

td {
    --_td-padding: 0.75rem;

    pointer-events: none;
    overflow-wrap: break-word;
    border: 1px solid rgba(var(--smoky-black), 0.2);
    padding: var(--_td-padding);

    @media print {
        --_td-padding: 0.5rem;
    }
}

tbody {
    background-color: rgb(var(--white));
    font-family: var(--mono);
    font-weight: 300;

    & > tr:hover {
        background-color: rgb(var(--slate));
    }

    & > tr {
        & > td:not(:nth-last-child(-n + 3)) {
            background-color: rgb(var(--white));
            word-break: break-all;
        }

        & > td:nth-last-child(-n + 3) {
            cursor: pointer;
            pointer-events: all;
        }
    }
}

/* TABLE AND DETAILS TRANSITIONS */

#reports,
#details {
    transition: transform 0.5s ease-in-out;
    min-width: 100%;
}

.group[data-panel="table"] {
    & > #details {
        transform: translateX(100%);
    }
}

.group[data-panel="details"] {
    & > #reports {
        transform: translateX(-100%);
    }

    & > #details {
        transform: translateX(-100%);
    }
}

#details {
    @media print {
        display: none;
    }
}

/* SCENARIOS STYLES */

ol#scenarios {
    --_list-gap: .75rem;

    display: flex;
    flex-direction: column;
    gap: var(--_list-gap);
}

button#back {
    --_padding: 0.5rem 1.25rem;
    --_radius: 0.25rem;

    color: white;
    padding: var(--_padding);
    background-color: rgba(var(--blue));
    border-radius: var(--_radius);

    &:hover,
    &:focus {
        background-color: rgba(var(--blue-dark));
    }
}

#group-details {
    --_details-padding: 0 0 0.75rem 0rem;

    display: flex;
    align-items: center;
    padding: var(--_details-padding);
    gap: 1rem;
}

#group-summary {
    --_padding: 0.5rem 2rem;

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: var(--_padding);
    border: 1px solid rgba(var(--smoky-black), 0.25);
    border-radius: 0.25rem;
    background-color: rgba(var(--white));
    letter-spacing: 0.02rem;

    & > li > span:first-of-type {
        font-weight: 300;

        &::after {
            content: ": ";
        }
    }

    & > li > span:last-of-type {
        font-weight: 400;
    }
}

.scenario {
    --_scenario-padding: 0 0.75rem;
    --_scenario-radius: 0.25rem;

    width: 100%;
    padding: var(--_scenario-padding);
    background-color: rgba(var(--white));
    border-radius: var(--_scenario-radius);
    border: 1px solid rgba(var(--smoky-black), 0.25);
    pointer-events: none;

    & .scenario-summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        pointer-events: all;
        padding: .5rem 0;

        & > p {
            max-width: 80%;
        }
    }

    &[data-expand="false"] .req-res {
        height: 0px;
    }

    &[data-expand="true"] .req-res {
        height: auto;
        padding: .25rem 0 1rem 0rem;
    }

    & span:first-of-type {
        font-weight: 300;
    }

    & .pill {
        --_margin-left: 1rem;

        display: inline-block;
        font-weight: 500;
        min-width: 8rem;
        text-align: center;
        letter-spacing: 0.05rem;
        margin-left: var(--_margin-left);
    }
}

.req-res {
    --_req-res-border-radius: 0.25rem;
    --_anim-duration: 0.25s;
    --_items-gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--_items-gap);
    border-radius: var(--_req-res-border-radius);
    font-weight: 300;
    font-size: var(--font-sm);
    line-height: var(--line-height-sm);
    transition: all var(--_anim-duration) ease-in-out;
    overflow: hidden;

    & > .additional-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & span {
            font-weight: 400;
        }
    }

    & .req-res-detail {
        font-size: var(--font-base);
        line-height: var(--line-height-base);
        font-weight: 400;
    }

    & pre {
        --_pre-padding: 1rem;
        --_pre-margin: 0.5rem 0 0 0;

        margin: var(--_pre-margin);
        padding: var(--_pre-padding);
        background-color: rgba(var(--slate));
        white-space: pre-wrap;
        font-size: var(--font-sm);
        border-radius: var(--_req-res-border-radius);
    }
}

/* UTILITIES */

.pill {
    --_pill-padding: 0.5rem 1.25rem;
    --_pill-radius: 0.5rem;
    --_background-color: rgb(var(--pill-green));

    padding: var(--_pill-padding);
    border-radius: var(--_pill-radius);
    background-color: var(--_background-color);
    text-transform: capitalize;
    font-weight: 500;

    @media print {
        --_pill-padding: 0.25rem 1rem;
    }
}

.pill.red {
    --_background-color: rgb(var(--pill-red));
}

.pill.yellow {
    --_background-color: rgb(var(--pill-yellow));
}

.approved {
    filter: invert(81%) sepia(40%) saturate(6986%) hue-rotate(94deg) brightness(100%) contrast(73%);
}

.rejected {
    filter: invert(35%) sepia(45%) saturate(4235%) hue-rotate(342deg) brightness(118%) contrast(88%);
}
.warning {
    filter: invert(66%) sepia(70%) saturate(597%) hue-rotate(351deg) brightness(102%) contrast(103%);
}

.bg-approved {
    background-color: rgb(var(--approved));
}

.bg-rejected {
    background-color: rgb(var(--rejected));
}

.bg-warning {
    background-color: rgb(var(--warning));
}

.hidden {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}
