name: Manual Release Build and Docker Image

on:
  workflow_dispatch:

jobs:
  build-and-dockerize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Read version from properties
        id: read_version
        run: |
          echo "Reading version from version.properties..."
          version=$(grep 'version=' version.properties | cut -d'=' -f2)
          echo "Version: $version"
          echo "::set-output name=VERSION::$version"

      - name: Set up Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io
          sudo systemctl start docker
          sudo docker --version

      - name: Docker Login
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      - name: Build Docker Image
        run: docker build --no-cache -t znsio/specmatic:${{ steps.read_version.outputs.VERSION }} .

      - name: Push Docker Image
        run: docker push znsio/specmatic:${{ steps.read_version.outputs.VERSION }}
